# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Go workspace and build
bin/
dist/

# Go coverage
coverage/

# Config
.env
*.log
/.env*
/*.env.local

# IDE
.vscode/
.idea/
.DS_Store

# Docker
/postgres-data

# Локальные конфиги с секретами
secrets.yaml
.values.secrets.yaml
*.secret.yaml